@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

@import 'tailwindcss';
@plugin "daisyui";

body{
  font-family:'Inter', sans-serif;
}

.container{
  color:white;
}

@keyframes borderGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.animate-borderGradient {
  animation: borderGradient 6s linear infinite;
  pointer-events: none;
}
